body {
	background-color: black;
}

/* Div principal */
#content {
	text-align: center;
	width: 50%;
	margin: auto;
}

h1 {
	color: white;
	font-family: "Lucida Console";
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 0px;
}

h2 {
	color: white;
	font-family: "Lucida Console";
	font-size: 15px;
	font-weight: normal;
	margin-top: 0px;
}

img {
	width: 215px;
	height: auto;
}

#subs {
	justify-content: center;
	display: flex;
}

span {
	color: white;
	font-family: "Lucida Console";
	font-weight: normal;
	font-style: oblique;
	font-size: 13px;
}

p {
	margin-top: 0px;
	margin-bottom: 1px;
}

p#detail {
	white-space: nowrap;
}

.fade-in {
  animation: fadeIn 2.5s;
  -webkit-animation: fadeIn 2.5s;
  -moz-animation: fadeIn 2.5s;
  -o-animation: fadeIn 2.5s;
  -ms-animation: fadeIn 2.5s;
} @keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} @-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} @-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} @-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} @-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}